<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ChromesthesiaConfig" requirePermission="false" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <ChromesthesiaConfig>
    <add key="FftLowerDetectionFrequency" value="100" />
    <add key="FftUpperDetectionFrequency" value="1000" />
    <add key="DiagonalLightPercentageOfSide" value="70" />
    <add key="SceneFrameLength" value="10" />
    <add key="LightSectionFadeTime" value="2" />
    <add key="LightComponentMultiplicationFactor" value="100" />
    <add key="LightIntensityMultiplicationFactor" value="10" />
    <add key="LightMaximumSamplesToUse" value="10" />
    <add key="NormalCDFNumberOfTerms" value="20" />
  </ChromesthesiaConfig>
</configuration>