<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ChromesthesiaConfig" requirePermission="false" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <ChromesthesiaConfig>
    <add key="FftLowerDetectionFrequency" value="50" />
    <add key="FftUpperDetectionFrequency" value="10000" />
    <add key="DiagonalLightPercentageOfSide" value="80" />
    <add key="FrameLength" value="100" />

    <add key="LightSectionFadeTime" value="5" />
    <add key="LightComponentMultiplicationFactor" value="15" />

    <add key="LightMaximumSamplesToUse" value="40" />
    <add key="RedMainFrequencyRange" value="50:400" />
    <add key="GreenMainFrequencyRange" value="700:1400" />
    <add key="BlueMainFrequencyRange" value="1500:2500" />

    <add key="LightBuilderUsesNormalCDF" value="true" />
  </ChromesthesiaConfig>
</configuration>